<br>
<body class="background">
 <div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <h2><div class="mb-4 mt-4 top"><strong>新規登録</strong></div></h2></strong>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :name, "ニックネーム" %><br />
        <%= f.text_field :name, class: "form-control", placeholder: "nature", autofocus: true %>
      </div>

      <div class="field mb-3">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, :size=>"40", class: "form-control", placeholder: "name@example.com", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 桁以上)</em>
        <% end %><br />
        <%= f.password_field :password, :size=>"40", class: "form-control", placeholder: "aaaaaa", autocomplete: "new-password" %>
      </div>

      <div class="field mb-1">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, :size=>"40", class: "form-control", placeholder: "aaaaaa", autocomplete: "new-password" %>
      </div>
      <br>
      <div class="actions mb-2">
        <%= f.submit "登録する", class: "btn btn-info btn-block" %>
      </div>
    <% end %>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    登録済みの方はこちらから<%= render "devise/shared/links" %>
  </div>

 </div>
</body>
