<br>
   <div class="container">
   <div class="main-title mb-3 top">
     <h4>投稿編集</h4>
   </div>
   
    <% if @post_image.errors.any? %>
    <%= @post_image.errors.count %>項目が未入力です<br>
    <% @post_image.errors.full_messages.each do |message| %>/
    <%= message %>
    <% end %>
    <% end %>
    
   <div class="row mt-3 ml-3">
      <%= form_with model: @post_image, local:true do |f| %>
        <h6><strong>◆タイトル</strong></h6>
        <%= f.text_field :title, class: "mb-3 form-control" %>
        <h6><strong>◆カテゴリー</strong></h6>
        <%= f.select :genre, ['森', '山', '川', '湖', '空', '海', '公園'], {include_blank: '選択ボックス'}, class: 'genre mb-3 box-select' %>
        <h6><strong>◆説明</strong></h6>
        <%= f.text_area :introduction, class: "mb-3 form-control" %>
        <h6><strong>◆画像選択</strong></h6>
        <%= f.attachment_field :image, class: "mb-3" %>
        <h6>◆<strong>撮影場所</strong>（地図上で場所を選択）</h6>
   
      <div class="row ml-3 mb-3">
          <input id="address" type="textbox" value="場所を変更する場合のみ">
          <input type="button" value="検索" onclick="codeAddress()", class="btn btn-success ml-3" >
      </div>
    
    <div class="row ml-1 mb-3">
          <div id='map'></div>
    </div>
      
      <div class="row ml-1 mb-3">
            <!--経度・緯度は地図下に配置-->
            <div class="mt-2">
            <%= f.label :latitude %>
          　<%= f.text_field :latitude, id: :latitude %>
          　<%= f.label :longitude %>
        　　<%= f.text_field :longitude, id: :longitude %>
        　　</div>
      </div>

      <div class="ml-3 mt-2">
        <%= f.submit '変更を保存',class: "btn btn-info w-50 ml-3" %>
      </div>
      <% end %>
     </div>
    </div>
 
   　　<script>
    　　
            //初期マップの設定
        let map;

        function initMap(){
          geocoder = new google.maps.Geocoder()
        
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.6803997, lng: 139.7690174},
            zoom: 6,
          });
        
          marker = new google.maps.Marker({
            position:  {lat: 35.6803997, lng: 139.7690174},
            map: map
          });
        }
        
    
	
        let geocoder
            let aft
            function codeAddress(){
               let inputAddress = document.getElementById('address').value;
              geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
                    //マーカーが複数できないようにする
                    if (aft == true){
                        marker.setMap(null);
                    }
                    
        　　　　  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()},
                    zoom: 14
                  });
                  
                   marker = new google.maps.Marker({
                    position:  {lat: 35.6803997, lng: 139.7690174},
                    map: map
                  });
                    //新しくマーカーを作成する
                    map.setCenter(results[0].geometry.location);
                        marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        draggable: true, // ドラッグ可能にする
                        center: {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()},
                        zoom: 14
                    });
                    
　　　　　　　　　
                    //二度目以降か判断
                    aft = true

                    //検索した時に緯度経度を入力する

                    console.log(results[0].geometry.location)
                    document.getElementById('latitude').value = results[0].geometry.location.lat();
                    document.getElementById('longitude').value = results[0].geometry.location.lng();

                    // マーカーのドロップ（ドラッグ終了）時のイベント
                    google.maps.event.addListener( marker, 'dragend', function(ev){
                        // イベントの引数evの、プロパティ.latLngが緯度経度
                        document.getElementById('latitude').value = ev.latLng.lat();
                        document.getElementById('longitude').value = ev.latLng.lng();
                    });
                    
                 } else {
                  alert('該当する結果がありませんでした：' + status);
                }
              });
            }
              
        </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_tiqnCsg_w_qy1zBf2AC5C-sWLBcuN50&callback=initMap" async defer></script>
            
             <style>
            #map {
              height: 600px;
              width: 600px;
            }
            </style>
            

    </div>
   </div>
