<br>
 <body class="background">
   <div class="container">
    <div class="row mt-3">
      <div class="main-title mb-3">
    　<h4>投稿詳細</h4>
    　</div>
    </div>

    <div class="row mt-3 mr-3">
    　<div class="col">
       <%= attachment_image_tag @post_image, :image, class: 'photosize' %>
      </div>
      <div class="col">
        <h4>場所</h4>
        <div id='map'></div>
          <style>
          #map {
            height: 350px;
            width: 90%;
          }
          </style>

          <!-- js部分 -->
          <script>
              function initMap() {

                //初期表示位置
                let latlng = new google.maps.LatLng(38.60, 139.5);
                //デザイン
                let styles = [
                     {
                      stylers: [
                       { "saturation": 0 },
                       { "lightness": 0 }
                      ]
                     }
                    ];

                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    styles: styles,
                    center: latlng
                });
                let transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);

                //複数マーカー ここから
                  ( function() {
                    let markerLatLng = new google.maps.LatLng({lat: <%= @post_image.latitude %>, lng: <%= @post_image.longitude %>}); // 緯度経度のデータ作成
                    let marker = new google.maps.Marker({
                      position: markerLatLng,
                      map: map
                    });
                  //マーカーをクリックしたとき、詳細情報を表示
                    let infowindow = new google.maps.InfoWindow({
                      position: markerLatLng,
                      content: "<a href='<%= post_image_url(@post_image.id) %>' target='_blank'><%= @post_image.title %></a>"
                    }); //ここで詳細ページへのリンクを表示させる
                    marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });

                 })();
                // 複数マーカー ここまで
            }

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_tiqnCsg_w_qy1zBf2AC5C-sWLBcuN50&callback=initMap" async defer></script>
      </div>
     </div>
    
    <div class="row mt-3 ml-3">
      <h4>
      <% if @post_image.favorited_by?(current_user) %>
         <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
           ♥<%= @post_image.favorites.count %> いいね
          <% end %>
        <% else %>
        
          <%= link_to post_image_favorites_path(@post_image), method: :post do %>
            ♡<%= @post_image.favorites.count %> いいね
          <% end %>
      
      <% end %>
      </h4>
    </div>
    
    <div class="row mt-3 ml-3">
     <div class="col">
        <h6><strong>◆タイトル： </strong><%= @post_image.title %></h6>
        <h6><strong>◆カテゴリー： </strong><%= @post_image.genre %></h6>
        <h6><strong>◆説明： </strong><%= @post_image.introduction %><h6>
        <h6><strong>◆投稿日時： </strong><%= @post_image.created_at.strftime('%Y/%m/%d') %></h6>
        <h6><strong>◆投稿者： </strong><%= link_to user_path(@user) do %><%= @post_image.user.name %><% end %></h6>
        <h6><strong>◆撮影場所： </strong>経度<%= @post_image.latitude %> 経度<%= @post_image.longitude %></h6>
        
         <% if @post_image.user == current_user %>
         <div class="mr-5">
         <%= link_to "投稿を編集", edit_post_image_path(@post_image.id), class: "btn btn-outline-info btn-sm ml-3 mr-3 mt-1" %>
         
         <%= link_to "投稿を削除", post_image_path(@post_image.id), class: "btn btn-outline-info btn-sm mt-1", method: :delete, data: {confirm: '本当に投稿を削除しますか？'} %>
         </div>
         <% end %>
     </div>
    </div>
         

 　　
    <div class="row ml-3 mt-2 mb-1">
     <h4><strong>みんなのコメント</h4></strong>
    </div>
    
        <% @post_image.post_comments.each do |post_comment| %>
         <div class="row ml-4">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <%= post_comment.user.name %>
        　</div>
          <div class="row ml-4">
          <%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <%= link_to "コメントを削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, class: "ml-2" %>
         　  <% end %>
          </div>
     　  <% end %>
    
      <div class="row ml-2">
        <%= form_with(model:[@post_image, @post_comment], local: true) do |f| %>
         <div class="col">
          <%= f.text_area :comment, rows:'2', cols:"40", placeholder: "コメント" %>
         </div>
         <div class="col">
          <%= f.submit "コメントを送信", class: "btn btn-info btn-sm" %>
         </div>
        <% end %>
      </div>

  </div>
</body>