
<!--メモ-->
<br>
<html>
 <body class="background">
   <div class="container">
    <div class="row mt-3">
      <div class="main-title mb-3">
    　<h4>投稿詳細</h4>
    　</div>
    </div>


      <div>
      <%= attachment_image_tag @post_image, :image, class: 'photosize' %>
      <p>◆タイトル：<%= @post_image.title %></p>
      <p>◆カテゴリー：<%= @post_image.genre %></p>
      <p>◆説明：<%= @post_image.introduction %></p>
      <p>◆投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
      <p>◆投稿者：<%= link_to user_path(@user) do %><%= @post_image.user.name %><% end %></p>
      <p>◆撮影場所：緯度<%= @post_image.latitude %> 経度<%= @post_image.longitude %></p>
      <div class="row">
         <div id='map'></div>
          <style>
          #map {
            height: 400px;
            width: 95%;
          }
          </style>

          <!-- js部分 -->
          <script>
              function initMap() {

                //初期表示位置
                let latlng = new google.maps.LatLng(38.60, 139.5);
                //デザイン
                let styles = [
                     {
                      stylers: [
                       { "saturation": 0 },
                       { "lightness": 0 }
                      ]
                     }
                    ];

                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    styles: styles,
                    center: latlng
                });
                let transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);

                //複数マーカー ここから
                  ( function() {
                    let markerLatLng = new google.maps.LatLng({lat: <%= @post_image.latitude %>, lng: <%= @post_image.longitude %>}); // 緯度経度のデータ作成
                    let marker = new google.maps.Marker({
                      position: markerLatLng,
                      map: map
                    });
                  //マーカーをクリックしたとき、詳細情報を表示
                    let infowindow = new google.maps.InfoWindow({
                      position: markerLatLng,
                      content: "<a href='<%= post_image_url(@post_image.id) %>' target='_blank'><%= @post_image.title %></a>"
                    }); //ここで詳細ページへのリンクを表示させる
                    marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });

                 })();
                // 複数マーカー ここまで
            }

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_tiqnCsg_w_qy1zBf2AC5C-sWLBcuN50&callback=initMap" async defer></script>
        </div>

    　</div>

      <div class="row">
      <% if @post_image.user == current_user %>
        <div class="mr-3">
        <%= link_to "投稿編集", edit_post_image_path(@post_image.id)%>
        </div>
        <%= link_to "投稿削除", post_image_path(@post_image.id), method: :delete, data: {confirm: '本当に投稿を削除しますか？'} %>
      <% end %>
      </div>

    　<div>
        <% @post_image.post_comments.each do |post_comment| %>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      </div>

          <% if post_comment.user == current_user %>
          <div>
            <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
          </div>
       　  <% end %>
     　  <% end %>

      <% if @post_image.favorited_by?(current_user) %>
        <p>
          <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
            ♥<%= @post_image.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_image_favorites_path(@post_image), method: :post do %>
            ♡<%= @post_image.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>


      <div>
        <%= form_with(model:[@post_image, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'3',placeholder: "コメント" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

   </div>
  </div>
</body>