<!DOCTYPE html>
<html>
  <head>
    <title>Nature</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--gem gonを使用できるようにする-->
    <%= include_gon %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <!--画面スライダー-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <!--フォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
       
    
    <script>
    jQuery(document).on('turbolinks:load', function(){
     $(function() {
     $('.slider').bxSlider(
         {maxSlides: 2,
          slideWidth: 700,
          touchEnabled: false
         });
     });
    });
　　</script>
    
  </head>

  <body>
   <header>
     <nav class="navbar navbar-expand-lg navbar-white", style="background-color: #B0E0E6;">
      <div class="container">
       <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li>
        <%= link_to '地図', post_images_path,class: 'fas fa-map-pin btn btn-outline-dark mr-0', style: 'margin: 13px', data: {"turbolinks" => false} %>
      </li>
    　<li>
        <%= link_to 'カテゴリ', search_post_images_path,class: 'fas fa-search-location btn btn-outline-dark mr-0', style: 'margin: 13px' %>
      </li>

    　<li>
        <%= link_to '投稿', new_post_image_path,class: 'fas fa-camera-retro btn btn-outline-dark', style: 'margin: 13px', data: {"turbolinks" => false}%>
      </li>
      <li>
        <%= link_to 'マイページ',  user_path(current_user.id),class: 'far fa-address-card btn btn-outline-dark', style: 'margin: 13px' %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path,class: 'fas fa-sign-out-alt btn btn-outline-dark', style: 'margin: 13px', method: :delete %>
      </li>
      <% else %>
    　<li>
    　  <%= link_to "ホーム", root_path ,class: 'fas fa-home btn btn-outline-dark mr-0', style: 'margin: 15px' %>
  　   </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: 'fas fa-user-plus btn btn-outline-dark', style: 'margin: 15px' %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path ,class: 'fas fa-sign-in-alt btn btn-outline-dark', style: 'margin: 15px' %>
      </li>

      <% end %>

       </ul>
      </div>
     </nav>
    </header>

    <%= notice %>
    <%= yield %>

  </body>
</html>
